html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: larger;
    font-weight: 300;
}



.avatar {
    border-radius: 50%;
    width: 150px;
}

.icons {
    list-style-type: none;
    font-size: xx-large;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 320px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 42px;
}

.icons a {
    color: black;
}

.icons a:hover {
    color: #1565c0;
}

body {
    margin: 0px;
    font-size: 20px;
    background-image: url("../background_erosion_edit.png");
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
    font-size: 30px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #db4714;
    color: white;
}

.big_container{
    max-width: fit-content !important;
    margin-left: 10% !important;
    margin-right: 10% !important;
    display: flex;
    width: 100%;
}

.left_main_col{
    float: left;
    width: 35% !important;
}

.right_main_col{
    float: left;
    width: 65% !important;
}

.left_secondary_col{
    float: left;
    width: 35% !important;

}

.right_secondary_col{
    float: left;
    width: 65% !important;
    padding-left: 5%;
}

footer {
    padding-top: 5px;
    background-color: #333;
    color: #ffffff;
}

.subtitle{
    color: #000000;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.top_par{
    margin-top: 70px;
    margin-bottom: 50px;
}

.random_par{
    /*margin-bottom: 50px;*/
}

.mail{
    padding: 20px;
    text-align: center;
    font-family: "Lucida Sans Typewriter";
}

.main_name{
    padding-bottom: 20px;
    font-family: "Calibri";
    font-weight: bolder;
}

.mini_publi{
    width: 100%;
}

.mini_publi_title{
    font-size: x-large;
    text-decoration: underline;
    color: #000000;
}

.mini_publi_title:hover{
    color: #000000;
}

.mini_publi_authors{
    font-style: italic;
}

.mini_publi_journal{
    font-style: normal;
}

.in_link{
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.in_link:hover{
    color: #000000;
}

.row{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #e8e8e8;
    width: 75%;
    margin: auto !important;
}

.mid_row{
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: #e8e8e8;
    width: 100%;
    height: fit-content !important;
}

.mid_row:after {
    content: "";
    display: table;
    clear: both;
}

.mini_project{
    width: 100%;
    border-color: black;
}

.project_language{
    font-style: italic;
}

.bug_row{
    display: flex;
    justify-content: space-between;
}

.mini_bug{
    width:45%;
    padding-right: 5%;
}

.home_bottom_page{
    padding-top: 30px;
}